.s-buscador>input {
    padding: 10px;
    width: 90%;
    background-color: rgb(238, 238, 238);
    border-radius: 15px;
    border: none;
    margin-bottom: 10px;
}

.s-row {
    display: flex;
    flex-direction: column;
    text-align: left;
    border-bottom: solid 1px gray;
    background-color:  rgb(238, 238, 238);
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.s-title{
    border-bottom: solid 1px gray;
}

.s-row>h3 {
    font-weight: bolder;
    font-size: 20px;
}

.search {
    display: inline-flex;
    flex-direction: row;
    padding: 5px;
}

.s-search>p {
    font-weight: bolder;
    font-size: 18px;
}

.s-imagen>img {
    width: 70%;
    height: 7vh;
    border-radius: 2px;
}

.s-tend {
    display: inline-flex;
    flex-direction: row;
}

.s-tend>h5 {
    color: gray;
}

.s-tend>p {
    background-color: rgb(209, 59, 59);
    color: white;
    height: 3vh;
    font-size: 14px;
    border-radius: 8px;
    padding: 4px;
    font-weight: bold;
    margin-left: 3px;
}

.s-footer {
    display: inline-flex;
    flex-direction: row;
}

.s-footer>h5 {
    color: gray;
    font-size: 12px;
}

.s-footer>h6 {
    color: rgb(29, 161, 242);
    margin-left: 4px;
    font-size: 10.5px;
}