.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: 1fr;
  width: 95vw;
  height: 100vh;
  margin: 0 auto;
}

.t-logo{
  width: 50%;
  fill: rgba(29,161,242,1.00);
}

.t-main{
  display: flex;
  overflow: scroll; /*pone un scroll a la caja main */
}

.t-col-container{
  display: flex;
  flex-direction: column;
  padding: 0em 1em;
  align-items: flex-start;
  width: 85%;
}

.t-row{
  display: flex;
}

.t-profile-img {
  width: 50%;
  justify-self: flex-end;
}

.t-profile-img > img{
  border-radius: 50%;
  display: block;
  max-width: 100%;
}

.t-sidebar-col{
  border-left: solid 1px #cacaca;
  width: 35%;
}